* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Lato, sans-serif;
  display: grid;
  place-items: center;
}

.app {
  background: white;
  position: relative;
  overflow: auto;
  visibility: hidden;
  width: 90vmin;
  max-height: 90vmin;
}

.card-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.user-card {
  cursor: pointer;
  font-size: 0;
}

.user-card img {
  width: 100%;
  display: block;
}

.chosen {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: row;
  visibility: hidden;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.chosen__image,
.chosen__details {
  height: 47.5vmin;
  width: 47.5vmin;
}

.chosen__image img {
  width: 100%;
  display: block;
  z-index: 1;
  cursor: pointer;
}

.chosen__details {
  background: #232323;
  color: white;
  padding: 2rem 1.5rem;
  font-size: 1.75vmin;
  overflow: hidden;
}

.chosen__details > * {
  margin-bottom: 1rem;
}

.chosen__details__name {
  font-size: 3.5vmin;
  text-transform: uppercase;
}

.chosen__details__aliases {
  color: lightgray;
}

.chosen__details__description {
  line-height: 1.5;
}
