.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 2rem;
  background-color: transparent; /* or your theme color */
  z-index: 1000; /* VERY important */

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.header>img{
    width:4rem;
}

.logo{
    width: 10rem;
    height: 3rem;
}

.header-menu{
    list-style: none;
    display: flex;
    gap: 2rem;
    color: black;
}


.header-menu li:hover{
    color:var(--orange);
    cursor: pointer;
    transition: all 0.3s ease-out;
}

@media screen and (max-width:768px){
  .header>:nth-child(2){
    position: fixed;
    right: 2rem;
    top: 1.2rem;
    z-index: 1001;
  }

  .header-menu{
    position: fixed;
    top: 4.5rem;           /* just below header */
    right: 1rem;
    width: 75%;
    max-width: 280px;

    flex-direction: column;
    background-color: #F5F5F5;
    padding: 1.5rem;
    border-radius: 10px;

    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    z-index: 1000;
  }
}
