.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 2rem;
  background-color: transparent; /* or your theme color */
  z-index: 1000; /* VERY important */

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.header>img{
    width:4rem;
}

.logo{
    width: 10rem;
    height: 3rem;
}

.header-menu{
    list-style: none;
    display: flex;
    gap: 2rem;
    color: black;
}


.header-menu li:hover{
    color:var(--orange);
    cursor: pointer;
    transition: all 0.3s ease-out;
}
@media screen and (max-width:768px){
    .header>:nth-child(2){
        position: fixed;
        right: 2rem;
        z-index: 99;
    }
    .header-menu{
        flex-direction: column;
        background-color: #F5F5F5;
        padding: 2rem;
    }
}