.glow-section {
  padding: 4rem 2rem;
  text-align: center;
}

.glow-section-heading {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 3rem;
  color: black;
  font-style: italic;
}


.glow-cards-wrapper {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}